Sphinx>=9.1,<10
sphinx-rtd-theme>=3.1
sphinxcontrib-applehelp>=2.0
sphinxcontrib-devhelp>=2.0
sphinxcontrib-htmlhelp>=2.1
sphinxcontrib-jsmath>=1.0
sphinxcontrib-qthelp>=2.0
sphinxcontrib-serializinghtml>=2.0
sphinxcontrib-programoutput>=0.19

# cSpell:ignore applehelp sphinxcontrib devhelp htmlhelp jsmath qthelp serializinghtml programoutput
